// Inizio sezione 1: ricerca appartamento
  .main_content{
    position: relative;
    // z-index: -1;
    padding-top: 90px;


  }


  .ricerca{
    width: 70%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -70%);
      h3 {
        color: white;
      }
  }

    .dettagli {
      height: 150px;
    }

  .box_ricerca{
    background: rgba(30, 30, 30, .7);
    height: 65px;
    border-radius: 15px;
    position: relative;

    .input_ricerca{
      position: absolute;
      top: 68%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;

      // form{
      //   display: flex;
      //   justify-content: space-around;
      // }

      #search_button {
        position: absolute;
        top: 68%;
        transform: translateX(-50%, -50%);
      }

      .form-group{
        width: 40%;
      }


      #ricerca_lat,
      #ricerca_long{
        width: 100%;
      }

      input,
      button{
        border: none;
        border-radius: 15px;
        margin-left: 10px;
        padding: 10px;
      }
      #search_button{
        padding: 10px 20px;
        height: 43px;
      }
    }
  }
// Fine sezione 1: ricerca appartamento

// Inizio sezione 2: appartamenti in evidenza
  .appartamenti_in_evidenza{
    display: flex;
    flex-wrap: wrap;
  }

  .box_appartamento{
    width: 25%;
    margin-bottom: 25px;
    padding: 10px;
  }

// Fine sezione 2: appartamenti in evidenza
