// Inizio sezione 1: ricerca appartamento
  .main_content{
    position: relative;
    // z-index: -1;
    padding-top: 90px !important;
  }

  .home{
    padding: 0 !important;
  }
  .h60{
    height: 60px;
  }

  .ricerca{
    width: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -70%);
      h3 {
        color: white;
      }
  }

    .dettagli {
      height: 150px;
    }

  .box_ricerca{
    background: rgba(30, 30, 30, .7);
    height: 65px;
    border-radius: 15px;
    position: relative;

    .input_ricerca{
      top: 12px;

      form{
        display: flex;
        justify-content: space-around;
      }

      #address{
        margin-left: none;
      }

      #geolocate_button{
        flex: 0 0 18.167% !important;
        max-width: 18.167% !important;
        padding: 0px;
      }

      #geolocate_button,
      #selectaddress{
        margin-left: 5px;
      }

      .form-group{
        width: 40%;
      }


      #ricerca_lat,
      #ricerca_long{
        width: 100%;
      }

      input,
      button{
        border: none;
        border-radius: 15px;
        margin-left: 10px;
        padding: 10px;
      }
      #search_button{
        padding: 10px 20px;
      }
    }
  }
// Fine sezione 1: ricerca appartamento

// Inizio sezione 2: appartamenti in evidenza
  .info_flat{
    display: flex;
    justify-content: flex-end;

    & > small{
      margin-left: 5px;
      font-size: 14px;

      #flat_price > span{
        font-weight: bold;
      }

    }
  }


// Fine sezione 2: appartamenti in evidenza
