.slider-margin{
  margin-bottom: 10px;
  p{
    margin: 0;
  }
}

.slider_input{
  border: 0;
  color: #343a40;
  font-weight: bold;
  background-color: #f8fafc;
  width: 30px;
}

.ui-slider{
  width: 150px;
}
