.slider-margin{
  margin-bottom: 10px;
  p{
    margin: 0;
  }
}

.search{
  padding-top: 105px !important;
}

.slider_input{
  border: 0;
  color: orange;
  font-weight: bold;
  background-color: #5f6060;
  width: 30px;
}

.ui-slider{
  width: 150px;
}

.filter{
  border: 1px solid black;
  padding: 19px;
  border-radius: 5px;
  background-color: #5f6060;
  color: white;
}

.filter_reset{
  display: flex;
  justify-content: center;

  & > .reset_filter_button{
    font-weight: bold;
  }
}

#service_label{
  font-weight: bold;
  font-size: 18px;
}

.flat_box{
  border-bottom: 1px solid #5f6060;
}

.selectaddress{
  top: 10px;
  border-radius: 5px;
  border: none;
}

.img_info_flat{
  display: flex;
  justify-content: space-between;

  .info_flat{
    display: flex;
    flex-direction: column;
    align-items: flex-end;



    #flat_price > span{
      font-size: 18px;
    }

    & > small{
      display: block;
      font-size: 14px;

      & > i {
        color: orange;
      }
    }
  }
}


//responsive smartphone
.get_filter_responsive{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  & > i{
    margin-left: 3px;
    cursor: pointer;
  }
}
