// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$grey: #999999;

// Header
$header_bg: rgba(73, 106	, 129, .7) ;
$header_padding: 0px 20px;
