// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #212529;
$white: #fff;
$grey: #999999;
$red: #c0392b;
$green: #2ecc71;
$blue: #3498db;
$orange: #f39c12;
$asbestos: #7f8c8d;

// Header
$header_bg: rgba(73, 106	, 129, .7) ;
$header_padding: 0px 20px;
